In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression

In [5]:
df = pd.read_csv('/content/train (1).csv')[['Age','Pclass','SibSp','Parch','Survived']]
df.head()

    Age  Pclass  SibSp  Parch  Survived
0  22.0       3      1      0         0
1  38.0       1      1      0         1
2  26.0       3      0      0         1
3  35.0       1      1      0         1
4  35.0       3      0      0         0

In [11]:
df = pd.read_csv('/content/train (1).csv')[['Name','Survived']]
df.head()

                                                Name  Survived
0                            Braund, Mr. Owen Harris         0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...         1
2                             Heikkinen, Miss. Laina         1
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)         1
4                           Allen, Mr. William Henry         0

In [12]:
df['title'] = df['Name'].str.split(', ',expand=True)[1].str.split('.',expand=True)[0]
df.head()

                                                Name  Survived title
0                            Braund, Mr. Owen Harris         0    Mr
1  Cumings, Mrs. John Bradley (Florence Briggs Th...         1   Mrs
2                             Heikkinen, Miss. Laina         1  Miss
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)         1   Mrs
4                           Allen, Mr. William Henry         0    Mr

In [13]:
df['title'].unique()

array(['Mr', 'Mrs', 'Miss', 'Master', 'Don', 'Rev', 'Dr', 'Mme', 'Ms',
       'Major', 'Lady', 'Sir', 'Mlle', 'Col', 'Capt', 'the Countess',
       'Jonkheer'], dtype=object)

In [19]:
df['Survived'] = df['Survived'].astype(float)
survival_rates_by_title = df.groupby('title')['Survived'].mean().sort_values(ascending=False)
print(survival_rates_by_title)

title
Lady            1.000000
Ms              1.000000
Sir             1.000000
Mme             1.000000
the Countess    1.000000
Mlle            1.000000
Mrs             0.792000
Miss            0.697802
Master          0.575000
Major           0.500000
Col             0.500000
Dr              0.428571
Mr              0.156673
Capt            0.000000
Jonkheer        0.000000
Don             0.000000
Rev             0.000000
Name: Survived, dtype: float64

Curse of Dimensionality