In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('/content/Titanic-Dataset.csv')

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df = pd.read_csv('/content/CARS_1.csv')
df.head()

,car_name,reviews_count,fuel_type,engine_displacement,no_cylinder,seating_capacity,transmission_type,fuel_tank_capacity,body_type,rating,starting_price,ending_price,max_torque_nm,max_torque_rpm,max_power_bhp,max_power_rp
0,Maruti Alto K10,51,Petrol,998,3,5.0,Automatic,27.0,Hatchback,4.5,399000,583000,89.0,3500,65.71,5500
1,Maruti Brezza,86,Petrol,1462,4,5.0,Automatic,48.0,SUV,4.5,799000,1396000,136.8,4400,101.65,6000
2,Mahindra Thar,242,Diesel,2184,4,4.0,Automatic,57.0,SUV,4.5,1353000,1603000,300.0,2800,130.00,3750
3,Mahindra XUV700,313,Diesel,2198,4,7.0,Automatic,60.0,SUV,4.5,1318000,2458000,450.0,2800,182.38,3500
4,Mahindra Scorpio-N,107,Diesel,2198,4,7.0,Automatic,57.0,SUV,4.5,1199000,2390000,400.0,2750,172.45,3500

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 203 entries, 0 to 202
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   car_name             203 non-null    object
 1   reviews_count        203 non-null    int64
 2   fuel_type            203 non-null    object
 3   engine_displacement  203 non-null    int64
 4   no_cylinder          203 non-null    int64
 5   seating_capacity     202 non-null    float64
 6   transmission_type    203 non-null    object
 7   fuel_tank_capacity   203 non-null    float64
 8   body_type            203 non-null    object
 9   rating               203 non-null    float64
 10  starting_price       203 non-null    int64
 11  ending_price         203 non-null    int64
 12  max_torque_nm        203 non-null    float64
 13  max_torque_rpm       203 non-null    int64
 14  max_power_bhp        203 non-null    float64
 15  max_power_rp         203 non-null    int64
dtypes: float64(5), int64(7), object(4)
memory usage: 25.5+ KB

In [13]:
df = df.iloc[:, 1:9]
df.head()

,reviews_count,fuel_type,engine_displacement,no_cylinder,seating_capacity,transmission_type,fuel_tank_capacity,body_type
0,51,Petrol,998,3,5.0,Automatic,27.0,Hatchback
1,86,Petrol,1462,4,5.0,Automatic,48.0,SUV
2,242,Diesel,2184,4,4.0,Automatic,57.0,SUV
3,313,Diesel,2198,4,7.0,Automatic,60.0,SUV
4,107,Diesel,2198,4,7.0,Automatic,57.0,SUV

In [14]:
df['body_type'].value_counts()

body_type
SUV             85
Sedan           43
Hatchback       26
Coupe           22
MUV              9
Convertible      8
Pickup Truck     4
Luxury           2
Wagon            2
Minivan          1
Hybrid           1
Name: count, dtype: int64

In [21]:
pd.get_dummies(df, columns = ['transmission_type','fuel_type'])

,reviews_count,engine_displacement,no_cylinder,seating_capacity,fuel_tank_capacity,body_type,transmission_type_Automatic,transmission_type_Electric,transmission_type_Manual,fuel_type_CNG,fuel_type_Diesel,fuel_type_Electric,fuel_type_Petrol
0,51,998,3,5.0,27.0,Hatchback,True,False,False,False,False,False,True
1,86,1462,4,5.0,48.0,SUV,True,False,False,False,False,False,True
2,242,2184,4,4.0,57.0,SUV,True,False,False,False,True,False,False
3,313,2198,4,7.0,60.0,SUV,True,False,False,False,True,False,False
4,107,2198,4,7.0,57.0,SUV,True,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,35,1991,4,5.0,0.0,Hatchback,True,False,False,False,False,False,True
199,3,1998,4,5.0,59.0,Sedan,True,False,False,False,False,False,True
200,2,1956,4,7.0,60.0,SUV,False,False,True,False,True,False,False
201,9,3998,8,5.0,85.0,SUV,True,False,False,False,False,False,True
202,4,796,3,5.0,35.0,Hatchback,False,False,True,False,False,False,True

In [19]:
df.head()

,reviews_count,fuel_type,engine_displacement,no_cylinder,seating_capacity,transmission_type,fuel_tank_capacity,body_type
0,51,Petrol,998,3,5.0,Automatic,27.0,Hatchback
1,86,Petrol,1462,4,5.0,Automatic,48.0,SUV
2,242,Diesel,2184,4,4.0,Automatic,57.0,SUV
3,313,Diesel,2198,4,7.0,Automatic,60.0,SUV
4,107,Diesel,2198,4,7.0,Automatic,57.0,SUV

In [22]:
pd.get_dummies(df, columns = ['transmission_type','fuel_type'],drop_first=True)

,reviews_count,engine_displacement,no_cylinder,seating_capacity,fuel_tank_capacity,body_type,transmission_type_Electric,transmission_type_Manual,fuel_type_Diesel,fuel_type_Electric,fuel_type_Petrol
0,51,998,3,5.0,27.0,Hatchback,False,False,False,False,True
1,86,1462,4,5.0,48.0,SUV,False,False,False,False,True
2,242,2184,4,4.0,57.0,SUV,False,False,True,False,False
3,313,2198,4,7.0,60.0,SUV,False,False,True,False,False
4,107,2198,4,7.0,57.0,SUV,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...
198,35,1991,4,5.0,0.0,Hatchback,False,False,False,False,True
199,3,1998,4,5.0,59.0,Sedan,False,False,False,False,True
200,2,1956,4,7.0,60.0,SUV,False,True,True,False,False
201,9,3998,8,5.0,85.0,SUV,False,False,False,False,True
202,4,796,3,5.0,35.0,Hatchback,False,True,False,False,True

In [23]:
df.head()

,reviews_count,fuel_type,engine_displacement,no_cylinder,seating_capacity,transmission_type,fuel_tank_capacity,body_type
0,51,Petrol,998,3,5.0,Automatic,27.0,Hatchback
1,86,Petrol,1462,4,5.0,Automatic,48.0,SUV
2,242,Diesel,2184,4,4.0,Automatic,57.0,SUV
3,313,Diesel,2198,4,7.0,Automatic,60.0,SUV
4,107,Diesel,2198,4,7.0,Automatic,57.0,SUV

# **OneHotEncoding using sklearn**

In [4]:
df = pd.read_csv('/content/car.csv')
df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price
0,0,Maruti Alto K10 LXI CNG,Delhi,2014,40929,CNG,Manual,First,32.26 km/kg,998 CC,58.2 bhp,4.0,NaN
1,1,Maruti Alto 800 2016-2019 LXI,Coimbatore,2013,54493,Petrol,Manual,Second,24.7 kmpl,796 CC,47.3 bhp,5.0,NaN
2,2,Toyota Innova Crysta Touring Sport 2.4 MT,Mumbai,2017,34000,Diesel,Manual,First,13.68 kmpl,2393 CC,147.8 bhp,7.0,25.27 Lakh
3,3,Toyota Etios Liva GD,Hyderabad,2012,139000,Diesel,Manual,First,23.59 kmpl,1364 CC,null bhp,5.0,NaN
4,4,Hyundai i20 Magna,Mumbai,2014,29000,Petrol,Manual,First,18.5 kmpl,1197 CC,82.85 bhp,5.0,NaN

In [5]:
df = df.iloc[:, 3:9]
df.head()

   Year  Kilometers_Driven Fuel_Type Transmission Owner_Type      Mileage
0  2014              40929       CNG       Manual      First  32.26 km/kg
1  2013              54493    Petrol       Manual     Second    24.7 kmpl
2  2017              34000    Diesel       Manual      First   13.68 kmpl
3  2012             139000    Diesel       Manual      First   23.59 kmpl
4  2014              29000    Petrol       Manual      First    18.5 kmpl

In [13]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df.iloc[ : , :-1], df.iloc[ : , -1], random_state = 0, test_size = 0.2)

In [14]:
x_train

      Year  Kilometers_Driven Fuel_Type Transmission Owner_Type
548   2015              61000    Diesel    Automatic      First
269   2005             150000    Diesel       Manual     Second
831   2008              72002    Diesel       Manual     Second
364   2005              65000    Petrol    Automatic     Second
955   2016              61000    Diesel       Manual      First
...    ...                ...       ...          ...        ...
763   2013              43000    Petrol       Manual      First
835   2013              65000    Diesel       Manual     Second
1216  2017              21380    Diesel       Manual      First
559   2014              51000    Diesel       Manual      First
684   2017              15000    Petrol    Automatic      First

[987 rows x 5 columns]

In [15]:

y_train

548     15.73 kmpl
269      14.8 kmpl
831      13.6 kmpl
364      11.7 kmpl
955      26.0 kmpl
           ...
763      18.5 kmpl
835     19.68 kmpl
1216     24.3 kmpl
559     11.57 kmpl
684      12.6 kmpl
Name: Mileage, Length: 987, dtype: object

In [8]:
from sklearn.preprocessing import OneHotEncoder

In [27]:
ohe = OneHotEncoder(drop = 'first', sparse_output = False, dtype = np.int32)

In [29]:
x_train_new = ohe.fit_transform(x_train[['Fuel_Type','Transmission','Owner_Type']])

In [30]:
x_test_new = ohe.fit_transform(x_test[['Fuel_Type','Transmission','Owner_Type']])

In [31]:
x_train_new.shape

(987, 7)

In [33]:
x_train_new

array([[1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 1, 0],
       [1, 0, 0, ..., 0, 1, 0],
       ...,
       [1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [0, 0, 1, ..., 0, 0, 0]], dtype=int32)

In [34]:
df.head()

   Year  Kilometers_Driven Fuel_Type Transmission Owner_Type      Mileage
0  2014              40929       CNG       Manual      First  32.26 km/kg
1  2013              54493    Petrol       Manual     Second    24.7 kmpl
2  2017              34000    Diesel       Manual      First   13.68 kmpl
3  2012             139000    Diesel       Manual      First   23.59 kmpl
4  2014              29000    Petrol       Manual      First    18.5 kmpl

In [36]:
np.hstack((x_train[['Year','Kilometers_Driven']].values,x_train_new))

array([[  2015,  61000,      1, ...,      0,      0,      0],
       [  2005, 150000,      1, ...,      0,      1,      0],
       [  2008,  72002,      1, ...,      0,      1,      0],
       ...,
       [  2017,  21380,      1, ...,      0,      0,      0],
       [  2014,  51000,      1, ...,      0,      0,      0],
       [  2017,  15000,      0, ...,      0,      0,      0]])

In [38]:
df = pd.DataFrame(np.hstack((x_train[['Year','Kilometers_Driven']].values,x_train_new)))

In [39]:
df.head()

      0       1  2  3  4  5  6  7  8
0  2015   61000  1  0  0  0  0  0  0
1  2005  150000  1  0  0  1  0  1  0
2  2008   72002  1  0  0  1  0  1  0
3  2005   65000  0  0  1  0  0  1  0
4  2016   61000  1  0  0  1  0  0  0

In [40]:
df.shape

(987, 9)

# column transformers

In [42]:
from sklearn.compose import ColumnTransformer
transformer = ColumnTransformer( transformers = [
    ('tnf1', OneHotEncoder(drop = 'first', sparse_output = False, dtype = np.int32),['Fuel_Type','Transmission','Owner_Type'])
], remainder = 'passthrough')

In [43]:
transformer.fit_transform(x_train)

array([[     1,      0,      0, ...,      0,   2015,  61000],
       [     1,      0,      0, ...,      0,   2005, 150000],
       [     1,      0,      0, ...,      0,   2008,  72002],
       ...,
       [     1,      0,      0, ...,      0,   2017,  21380],
       [     1,      0,      0, ...,      0,   2014,  51000],
       [     0,      0,      1, ...,      0,   2017,  15000]])

In [44]:
df = pd.DataFrame(transformer.fit_transform(x_train))

In [45]:
df.shape

(987, 9)

# Pipelines

In [46]:
import pandas as pd
import numpy as np

In [47]:
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, MinMaxScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.feature_selection import SelectKBest,chi2
from sklearn.tree import DecisionTreeClassifier

In [48]:
df = pd.read_csv('/content/Titanic-Dataset.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [55]:
df = df[['Survived','Pclass','Sex','Age','Fare','Embarked']]

In [56]:
df.head()

   Survived  Pclass     Sex   Age     Fare Embarked
0         0       3    male  22.0   7.2500        S
1         1       1  female  38.0  71.2833        C
2         1       3  female  26.0   7.9250        S
3         1       1  female  35.0  53.1000        S
4         0       3    male  35.0   8.0500        S

In [57]:
x_train, x_test, y_train, y_test = train_test_split(df.drop(columns = ['Survived']), df['Survived'], test_size=0.2, random_state = 42)

In [58]:
x_train.head()

     Pclass     Sex   Age     Fare Embarked
331       1    male  45.5  28.5000        S
733       2    male  23.0  13.0000        S
382       3    male  32.0   7.9250        S
704       3    male  26.0   7.8542        S
813       3  female   6.0  31.2750        S

In [59]:
y_train.sample(5)

64     0
214    0
786    1
329    1
445    1
Name: Survived, dtype: int64

In [60]:
#imputation transformer
trf1 = ColumnTransformer([
    ('impute_age',SimpleImputer(),[2]),
    ('impute_embarked',SimpleImputer(strategy = 'most_frequent'),[4])
],remainder='passthrough')

In [71]:
#OneHotEncoder
trf2 = ColumnTransformer([
    ('ohe_sex_embarked',OneHotEncoder(sparse_output = False, handle_unknown = 'ignore'),[1,3])
], remainder = 'passthrough')

In [73]:
# Scaling
trf3 = ColumnTransformer([
    ('scale',MinMaxScaler(),slice(0,8))
])

In [74]:
#feature selection
trf4 = SelectKBest(score_func=chi2,k=3)

In [75]:
#train the model
trf5 = DecisionTreeClassifier()

In [76]:
pipe = Pipeline([
    ('trf1',trf1),
    ('trf2',trf2),
    ('trf3',trf3),
    ('trf4',trf4),
    ('trf5',trf5),
])

In [80]:
#train here
pipe.fit(x_train,y_train)

Pipeline(steps=[('trf1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('impute_age', SimpleImputer(),
                                                  [2]),
                                                 ('impute_embarked',
                                                  SimpleImputer(strategy='most_frequent'),
                                                  [4])])),
                ('trf2',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('ohe_sex_embarked',
                                                  OneHotEncoder(handle_unknown='ignore',
                                                                sparse_output=False),
                                                  [1, 3])])),
                ('trf3',
                 ColumnTransformer(transformers=[('scale', MinMaxScaler(),
                                                  slice(0, 8, None))])),
                ('trf4',
                 SelectKBest(k=3,
                             score_func=<function chi2 at 0x7a8eeb7b0a40>)),
                ('trf5', DecisionTreeClassifier())])

In [81]:
pipe.named_steps['trf2'].transformers_

[('ohe_sex_embarked',
  OneHotEncoder(handle_unknown='ignore', sparse_output=False),
  [1, 3]),
 ('remainder',
  FunctionTransformer(accept_sparse=True, check_inverse=False,
                      feature_names_out='one-to-one'),
  [0, 2, 4])]

In [82]:
#predict using the model
y_pred = pipe.predict(x_test)

In [83]:
y_pred

array([0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 0])

In [84]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.7653631284916201

# Exportimg using pickle

In [87]:
import pickle
pickle.dump(pipe,open('pipe.pkl','wb'))